    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

h4 {
    margin-top: 8px;
}

.logo {
    margin: 3px 0 3px 40px
}

.logo i {
    margin-right: 5px;
}

.navbar {
    background-color: #0D1E50;
}

.navbar a {
    font-size: 20px;
    cursor: pointer;
}


.navbar .links a {
    color: white;
    margin-right: 35px;
    text-decoration: none;
    transition: color 0.4s;
}

.navbar .links a:hover {
    color: #f6c03f;
}


.content-row {
    background-color: black;
    margin: 15px;
}

.left-pane {
    background-color: #d5d8de;
    color: black;
    position: relative;
    border-radius: 15px;
}


.multi-selector{
    width: 100%;
    position: relative;
    height: auto;
}
.select-field{
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
}
.select-field,.con,.list{
    width: 100%;
    background-color: white;
    padding: 0.3rem;
    border: none;
}

.list{
    display: none;  
    max-height: 140px;
    overflow: scroll;
    overflow-x: hidden; 
    
}

.list input {
    margin-right: 5px;
}

.con{
    display: block;
    padding-left: 0;
}

.con:hover{
    background-color: aliceblue;
}
.show-dropdown{
    display: block;
    position: absolute;
    top: 46px;
    left: 0;
    z-index: 1;
    padding-left: 5px;
}

.sidebar {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: -115%;
    transition: 0.4s;
    color: black;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
    background-color:whitesmoke;
    border-radius: 15px;
}

.sidebar a {
    font-size: 35px;
    position: absolute;
    right: 15px;
    top: 0;
}

.show-sidebar {
    left: 0;
}

.mymap {
    width: 100%;
    height: 100%;
}

.footer-row {
    /* min-height: 100%; */
    background-color: #030202;
}

.footer-row a {
    color: white;
    font-size: 25px;
    transition: color 0.4s;
}

.footer-row a:hover {
    color: #e94234
}

.icons a {
    margin-right: 35px;
}

.hamburger {
    font-size: 28px;
}


@media screen and (min-width: 750px) {
 .hamburger {
     display: none;
 }
 .nav-resp {
     display: flex;
     flex-direction: row;
 }
 .closing {
     display: none;
 }
 
}

@media screen and (max-width: 749px) {
    .nav-resp {
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: black;
        position: absolute;
        top: -349px;
        left: 0;
        width: 100%;
        transition: 0.4s;
        z-index: 1;
    }
    .nav-resp a {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .show-topbar {
        top: 0;
        transition: 0.4s;
    }
    .content-row {
        margin: 0
    }
}

@media screen and (max-width: 992px) {
    .right-pane {
        height: auto;
    }
    #mymap {
        /* height: 0;
        width: 0; */
        height: 50vh;
        width: 100%;
        margin-top: 5px;
    }
}

.select-field input[type="text"]:disabled {
    background: white;
    border: none;
  }


/* background-color: #4b547a66; */
