* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    color: white;
}

.navbar {
    background-color: #0D1E50;
}

.navbar a {
    font-size: 20px;
    cursor: pointer;
}


.navbar .links a {
    color: white;
    margin-right: 35px;
    text-decoration: none;
    transition: color 0.4s;
}

.navbar .links a:hover {
    color: #f6c03f;
}

.sidebar {
    position: fixed;
    background-color: white;
    width: 25%;
    height: 100%;
    z-index: 10;
    left: -25%;
    transition: 0.4s;
    color: black;
}

.sidebar a {
    font-size: 35px;
    position: absolute;
    right: 15px;
    top: 0;
}

.show-sidebar {
    left: 0;
}

.content-row {
    min-height: 635px;
    background-color: #ffffff42;
}

.left-pane {
    background-color: #e8e5e5;
    color: black;
}

.right-pane{
    background: url("../images/2021-11-15_22-22-04.png")
}

.footer-row {
    min-height: 55px;
    background-color: #030202;
}

.footer-row a {
    color: white;
    font-size: 25px;
    transition: color 0.4s;
}

.footer-row a:hover {
    color: #e94234
}

.icons a {
    margin-right: 35px;
}